extends layout

block body
  div(ng-controller='HomeCtrl')
    div.container
      div(id='svg_container', ng-mousedown='startDraw($event)')
      div.form-group
        div.input-group
          button(type='submit', ng-click='clearGraph()').btn.btn-primary
            | Clear
        div(style='float: right').input-group
          input(type='text', placeholder='Search for...').form-control
          span.input-group-btn
          button(type='submit', ng-click='performTest()').btn.btn-primary
            | Execute
      div(ui-view)

  script(src='js/lib/angular/angular.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')
  script(src='js/lib/d3.min.js')
  script(src='js/lib/d3.tip.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/moment.js')
  script(src='/bootstrap/js/bootstrap.min.js')
